@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap');

:root{
    --light-green:#95d5b2;
    --medium-green:#52b788;
    --dark-green:#40916c;
}

*{
font-family: 'Lora', serif;
padding: 0;
margin: 0;
font-size:1.3rem;
text-align: center;

}
header{
    font-size: 2.5rem;
    padding:0.8rem 0 1.5rem 0;
    background-color: var(--light-green);
    width: 100%;
}
.main{
    min-height:80vh;
    max-width: 60%;
    margin:auto;
    padding:0.8rem;
}
li{
    list-style:none;
    display:inline;
    padding:0.4rem;
}
a{
    text-decoration:none;
}
.inputbox{
    display: block;
    width: 90%;
    margin: 0.5rem auto;
    border:2px solid var(--medium-green);
    padding: 0.5rem;
    border-radius:0.2rem;
    
}
.button{
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    border-radius:0.2rem;
    
}

button:hover{
    background-color: var(--dark-green);
    cursor:pointer;
}

footer{
    background-color: var(--light-green);
    padding:2rem;
}
a{
    font-size:2rem;
    padding:0;
}
.fa{
    color:black;
    
}